
<div>
  <form class="form-container" action="">
    <div class="chose-container">
      <label for="">Nombre:</label>
      <input type="text">
    </div>
    <div class="select-container">
      <label for="">Tipo</label>
      <select name="tipos" id="tipos">
        <option value="agua">agua</option>
        <option value="fuego">fuego</option>
        <option value="tierra">tierra</option>
        <option value="aire">aire</option>
      </select>

    </div>
    <div class="btn-container">
      <button type="submit">Añadir</button>
    </div>
  </form>
</div>
