.container-nav nav{
  background-color:rgba(246, 53, 53, 0.868);
  height:auto;
  padding:24px 0;
  width:100%;
  border-radius:3rem;
}

.container-nav nav ul {
  width:30%;
  justify-content: space-between;
  margin:auto;
  display:flex;
  flex-direction: row;
  list-style: none;
  align-content: center;
}

.container-nav nav ul a {
  color:white;
  text-decoration:none;
  font-weight:bolder;
  font-size:x-large;
  transition:ease;
}

.container-nav nav ul a:hover{
  color: #ddd;
}
